.dashboardContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: radial-gradient(circle at top, #1c1b29, #0f0e18);
    color: #fff;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1rem;
    background-color: #1e1b4b;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


.logoImage {
    height: 60px;
    width: auto;
}

.appTitle {
    font-weight: 700;
    font-size: 1.2rem;
    color: #7b5eff;
}

.balanceBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.balance {
    background: rgba(255, 255, 255, 0.1);
    padding: 5px 15px 5px 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;

}

.coin {
    margin-right: -15px;
    font-size: 40px;
    z-index: 10;
}

.avatar {
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 600;
    color: #f4f4f4;
}

.mainContent {
    flex: 1;
    overflow-y: auto;
}

.main {
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.welcomeCard {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 1rem;
    margin: 0 0.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.avatarProfile {
    font-size: 2.5rem;
    text-decoration: none;
    padding: 1rem;
    font-weight: 600;
}

.userInfo {
    flex-grow: 1;
}

.username {
    margin: 0;
    font-size: 1.5rem;
    color: #f4f4f4;
}

.email {
    margin: 0.3rem 0 0;
    font-size: 1rem;
    color: #dedede;
}

.logoutButton {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 0.6rem 1.2rem;
    margin-left: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.logoutButton:hover {
    background-color: #c0392b;
}


.footerNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.6rem 0;
    backdrop-filter: blur(10px);
}

.navLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.75rem;
    color: #aaa;
    transition: color 0.2s;
    text-decoration: none;
}

.navLink span {
    margin-top: 2px;
}

.navLink:hover {
    color: #fff;
}

.active {
    color: #6ffee7;
    font-weight: 600;
}